<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UserApp.Tests.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UserApp.Tests.Configuration>
            <setting name="TestAppId" serializeAs="String">
                <value>51ded0be98035</value>
            </setting>
          <setting name="TestBaseAddress" serializeAs="String">
            <value>userapp.dev.local</value>
          </setting>
            <setting name="TestUserLogin" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="TestUserPassword" serializeAs="String">
                <value>test12345</value>
            </setting>
        </UserApp.Tests.Configuration>
    </applicationSettings>
</configuration>